# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

**/.gradle/**

.idea/**

buildSrc/.gradle/**
buildSrc/buid/**

**/.DS_Store

# build target directory
**/build/*

# image target directory
**/image